

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
.button {
  background:coral;
  width: 100%;
  height: 100%;
  font-size: 100px;
  list-style: none;
  animation: pulse 5s infinite;
  font-family: "cookiss", serif;
}
@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}

body {
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  background-color: green;
}

@font-face {
  font-family: 'cookiss';
  src: url('fonts/cookiss-webfont.woff2') format('woff2'),
       url('fonts/cookiss-webfont.woff') format('woff');
}

h1 {
display: flex;
justify-content: center;
margin: 20px;
font-family: "cookiss", serif;
font-size: 50px;
}

a {
text-decoration: none;
 display: flex;
 justify-content: center;
 margin: 20px;
}

.game {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap; 
  perspective: 1000px;
  
}

.a_card {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
}

.a_card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.card, .back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  background: orange;
  border-radius: 5px;
}

.card {backface-visibility: hidden; 
}

.back {
  backface-visibility: visible;
} 

img{
  width: 120%;
  height: 120%;
}

.a_card.flip {
  transform: rotateY(180deg);
}  


.card {
  transform: rotateY(180deg);
}









 
